@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.htmx-loading {
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-loading {
  opacity:1
}
.htmx-request.htmx-loading {
  opacity:1
}


